service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot
    seclabel u:r:dhcp:s0

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot
    seclabel u:r:dhcp:s0

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL -f/system/etc/dhcpcd/dhcpcd.conf
    class main
    disabled
    oneshot
    seclabel u:r:dhcp:s0

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot
    
service dhcpcd_bnep1 /system/bin/dhcpcd -BKLG
    disabled
    oneshot
 
service dhcpcd_bnep2 /system/bin/dhcpcd -BKLG
    disabled
    oneshot
   
service dhcpcd_bnep3 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep4 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

