/dts-v1/;
#include "../../../../../include/soc/realtek/memory.h"

/memreserve/ SYS_BOOTCODE_MEMBASE       SYS_BOOTCODE_MEMSIZE        ; /* 0x00000000 ~ 0x0002ffff */
/memreserve/ RPC_COMM_PHYS              RPC_COMM_SIZE               ; /* 0x0001f000 ~ 0x0001ffff */
/memreserve/ RPC_RINGBUF_PHYS           RPC_RINGBUF_SIZE            ; /* 0x01ffe000 ~ 0x02001fff */
/memreserve/ ROOTFS_NORMAL_START        ROOTFS_NORMAL_SIZE          ; /* 0x02200000 ~ 0x025fffff */
/memreserve/ ACPU_IDMEM_PHYS            ACPU_IDMEM_SIZE             ; /* 0x10000000 ~ 0x10013fff */
/memreserve/ 0x10100000                 0x04100000                  ; /* 0x10100000 ~ 0x141fffff */

#include "rtd-129x-ion-2GB-tee.dtsi"
#include "rtd-1296-saola-common.dtsi"

/ {
	chosen {
        linux,initrd-start = <ROOTFS_NORMAL_START>;
        linux,initrd-end = <ROOTFS_NORMAL_END>;
        bootargs = "earlycon=uart8250,mmio32,0x98007800 console=ttyS0,115200 init=/init androidboot.hardware=kylin androidboot.storage=emmc loglevel=4";
	};

	chosen {
        compatible = "Realtek,rtk1295-cma_info";
        /* NOTE ---------------------------------------------------------------------------------------------*/
        /* <flag size base>                                                                                  */
        /* flag: reserved                                                                                    */
        /* size: unit is byte                                                                                */
        /* base: unit is byte                                                                                */
        /* --------------------------------------------------------------------------------------------------*/
        /* Array size not over 8;                                                                            */
        /* You may change the max array size in KConfig, max CMA array size is CONFIG_CMA_AREAS+1            */
        /* If cma-region-enable is enabled<1>, kernel driver will use cma-region-info to initial CMA memory. */
        /* If cma-region-enable is disabled<0>, kernel driver will use cma= to initial CMA memory.           */
        /* if both setting is loaded, cma-region-info had higher priority.                                   */
        /* --------------------------------------------------------------------------------------------------*/
        cma-region-enable = <1>;
        cma-region-info = <0x00000000 0x02000000 0x20000000>;
        /*cma-region-info = <0x00000000 0x01000000 0x12c00000>, <0x00000000 0x12c00000 0x20000000>;*/
	};

    memory {
        device_type = "memory";
	reg = <0x00000000 0x98000000 0x98200000 0x66E00000 0xff800000 0x7f0000>; /* 4096 MB */
    };

    firmware {
        optee {
            compatible = "linaro,optee-tz";
            method = "smc";
        };
    };

    mem_remap {
        compatible = "Realtek,rtk1295-mem_remap";
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        rbus {
            reg = <RBUS_BASE_PHYS RBUS_BASE_SIZE>;
        };

        common {
            reg = <RPC_COMM_PHYS RPC_COMM_SIZE>;
        };

        ringbuf {
            reg = <RPC_RINGBUF_PHYS RPC_RINGBUF_SIZE>;
        };
    };

    rtk,ion {
        rtk,ion-heap@9 {    /* Secure */
            compatible = "Realtek,rtk-ion-reserve";
            reg = <9>;
            rtk,memory-reserve = <
                ION_SECURE_HEAP_PHYS ION_SECURE_HEAP_SIZE ION_SECURE_HEAP_FLAG
                >;
        };

        rtk,ion-heap@8 {    /* Audio */
            compatible = "Realtek,rtk-ion-reserve";
            reg = <8>;
            rtk,memory-reserve = <
                ION_AUDIO_HEAP_PHYS ION_AUDIO_HEAP_SIZE ION_AUDIO_HEAP_FLAG
                >;
        };

        rtk,ion-heap@7 {    /* TYPE_MEDIA */
            compatible = "Realtek,rtk-ion-reserve";
            reg = <7>;
            rtk,memory-reserve = <
                ION_MEDIA_HEAP_PHYS1 ION_MEDIA_HEAP_SIZE1 ION_MEDIA_HEAP_FLAG1
                ION_MEDIA_HEAP_PHYS2 ION_MEDIA_HEAP_SIZE2 ION_MEDIA_HEAP_FLAG2
                ION_MEDIA_HEAP_PHYS3 ION_MEDIA_HEAP_SIZE3 ION_MEDIA_HEAP_FLAG3
                >;
        };
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        tee_reserved: tee {
            no-map;
            size = <0x04100000>;
            alloc-ranges = <0x10100000 0x04100000>;
        };  
        ramoops_mem: ramoops_mem {
            reg = <0x22000000 0x00040000>;
            reg-names = "ramoops_mem";
            no-map;
        };
    };

    rfkill: rfkilligpio@0{
        gpios = <&rtk_iso_gpio 24 1 0>; /*bt power , output, default low */
        status = "disabled";
    };

    power-management{
        wakeup-gpio-enable = <0>;
        wakeup-gpio-list = <&rtk_iso_gpio 30 0 0>; /* power key */
        wakeup-gpio-activity = <1>;
	pwms;
	status = "okay";
    };

    rtk_misc_gpio@9801b100 {
        gpios = <&rtk_misc_gpio 55 1 0>; /* HDMITX_OFF pin default out low */
        status = "okay";
    };

    rtk_iso_gpio@98007100 {
        status = "okay";
    };

    hdmitx@9800D000 {
        gpio-hpd-detect = <&rtk_iso_gpio 6 0 0>; /* Hotplug detect pin */
	gpio-hdmitx-sel = <&rtk_misc_gpio 61 1 0>; /* TS3DV642 SEL2 */
        /* gpio-audio-mute = <&rtk_misc_gpio 100 1 1>; */ /* Audio DAC mute control */
        status = "okay";
    };

    hdcptx@9800D000 {
        status = "okay";
    };

    hdmirx@98034000 {
        gpio-rx-hpd-ctrl = <&rtk_iso_gpio 22 1 0>;
	gpio-rx-sel = <&rtk_misc_gpio 62 1 1>; /* TS3DV642 SEL2 */
        /* gpio-5v-detect = <&rtk_iso_gpio 21 0 0>; */
        status = "okay";
    };

    uart0: serial0@98007800 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart0_pins>;
        status = "okay";
    };

    uart1: serial1@9801B200 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart1_pins_all>;
        status = "okay";
    };

    uart2: serial2@9801B400 {
        pinctrl-names = "default";
        pinctrl-0 = <&uart2_pins_0>;
        status = "disabled";
    };

    nic: gmac@98016000 {
        pinctrl-names = "default";
        pinctrl-0 = <&rgmii0_pins>,
                <&etn_led_pins>;
        status = "okay";
    };

    hwnat: gmac@0x98060000 {
        pinctrl-names = "default";
        pinctrl-0 = <&rgmii0_pins>;
        gpio_link_led_enable = <0>; /* 0:disable, 1:enable */
        gpios = <&rtk_iso_gpio 27 1 0>; /* Link LED, output, default low */

	status = "disabled";
    };

    pcie@9804E000 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie1_clk_pins>;
	gpios = <&rtk_misc_gpio 16 1 0 >;
	status = "disabled";
    };

    pcie2@9803B000 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_clk_pins>;
	gpios = <&rtk_misc_gpio 19 1 0 >;
	status = "disabled";
    };

    sdio@98010A00 {
	gpios = <&rtk_iso_gpio 23 1 1>;
        status = "disabled";
    };

    sdmmc@98010400 {
        gpios = <&rtk_misc_gpio 99 1 0>; /*sd power , output, default high  (poweroff) */
        status = "okay";
    };

    emmc@98012000 {
	status = "okay";
    };

    irda@98007400 {
        pinctrl-names = "default";
        pinctrl-0 = <&ir_rx_pins>,
                <&ir_tx_pins>;
        status = "okay";

        Realtek,irrx-protocol = <1>;
        Realtek,irtx-protocol = <1>;
        Realtek,cust-code = <0xC617>;
        Realtek,scancode-msk = <0x00FF0000>;
        Realtek,custcode-msk = <0x0000FFFF>;

        /* <scancode, keycode> */
        Realtek,keymap-tbl = <
                0x12    116             //KEY_POWER             //POWER
                0x0F    102             //KEY_HOME              //HOME
                0x0D    158             //KEY_BACK              //RETURN
                0x01    103             //KEY_UP                //UP
                0x19    105             //KEY_LEFT              //LEFT
                0x40    352             //KEY_OK                //OK
                0x11    106             //KEY_RIGHT             //RIGHT
                0x09    108             //KEY_DOWN              //DOWN
                0x7F    114             //KEY_VOLUMEDOWN        //VOL-
                0x1C    115             //KEY_VOLUMEUP          //VOL+
        >;
        /*IR detect interval, NEC default=50ms, should less than 100ms, and bigger than 9ms*/
	Realtek,reg-ir-dpir = <50>;
    };

    i2c_0: i2c@0x98007D00 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_0>;
        status = "okay";

	gmt-g2227@12 {
            status = "okay";

	    /* enable pmic poweroff, property in power-management node must be disabled */
	    /*system-power-controller;*/
	};
    };

    i2c_1: i2c@0x98007C00 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_1>;
        status = "okay";
    };

    i2c_2: i2c@0x9801B700 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_2>;
        status = "disabled";
    };

    i2c_3: i2c@0x9801B900 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_3>;
        status = "disabled";
    };

    i2c_4: i2c@0x9801BA00 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_4>;
        status = "disabled";
    };

    i2c_5: i2c@0x9801BB00 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c_pins_5>;
        status = "okay";
    };

    spi@9801BD00 {
        status = "disabled";
    };

    pwm@980070D0 {
        status = "disabled";

        pwm_0 {
            enable = <1>;
        };
        pwm_1 {
            enable = <0>;
        };
        pwm_2 {
            enable = <0>;
        };
        pwm_3 {
            enable = <0>;
        };
    };

    rtd1295-lsadc@0x98012800 {
        status = "disabled";
    };

    dptx@9803D000 {
        status = "disabled";

	dp_hpd {
            gpios = <&rtk_iso_gpio 7 0 0>; /*HPD, input, default N/A */
        };
    };

    sata@9803F000 {
        status = "disabled";

        sata0: sata-port@0 {
            gpios = <&rtk_misc_gpio 56 1 1>;
        };
        sata1: sata-port@1 {
	    gpios = <&rtk_misc_gpio 56 1 1>;
        };
    };

    audio-out-devices {
        status = "okay";

        spdif {
            status = "disabled";
        };
        dac {
            status = "disabled";
        };
        i2s  {
            status = "disabled";
        };
        hdmi  {
            status = "okay";
        };
        global  {
            status = "okay";
        };
    };

    rtk_usb_power_manager {
	realtek,type_c-power-gpio;
	realtek,u2host-power-gpio = <&rtk_misc_gpio 18 1 0>;
        realtek,u3host-power-gpio = <&rtk_misc_gpio 20 1 0>;
	status = "okay";
    };

    gpio-keys {
	compatible = "gpio-keys";
	status = "disabled";

	power {
	    label = "Power Button";
	    gpios = <&rtk_iso_gpio 30 0 1>;
	    linux,code = <116>;
	};

	/*boot {
	    label = "Power Button";
	    gpios = <&rtk_iso_gpio 30 0 1>;
	    linux,code = <116>;
	};*/
    };

    gpio-fan {
	compatible = "gpio-fan";
	#cooling-cells = <2>;
	gpio-fan,speed-map = <0 0 3000 1>;
	gpios = <&rtk_misc_gpio 15 1 1>;
	status = "disabled";
    };
    
    leds {
	compatible = "gpio-leds";
	status = "okay";

	red {
		label = "red";
		gpios = <&rtk_iso_gpio 97 1 1>;
		linux,default-trigger = "default-on";
		default-active = "none";
	};

	green {
		label = "green";
		gpios = <&rtk_misc_gpio 98 1 1>;
		linux,default-trigger = "timer";
		default-active = "low";
	};
    };

    rtk_dwc3_drd@98013200 {
	status = "disabled";
    };
};
