
#include ../../../../../../../include/MakeConfig

#SI_DEBUG needs to define all the time
CFLAGS      += $(DEFINES) -g -Wall -DCF_LOGGER_COLOR -DSI_DEBUG
INCLUDES    += -I../ -I $(INC_DIR) -I $(INC_DIR)/system -I $(DTV_ROOT)/../../../Include -I $(DTV_ROOT)/../../../Include/Filters/NavigationFilter -I $(DTV_ROOT)/../../../Include/Filters/NavigationFilter/SiDvb/include -I ./


ifeq ($(USE_NEW_CF), Y)
CF_DIR		:= $(DTV_ROOT)/../../../Application/Projects/SantaMaria/Component/CFramework
CFLAGS		+= -DUSE_NEW_CF
INCLUDES	+= -I $(CF_DIR)
endif

#from global config
ifeq ($(ENABLE_DVB_OTA_DOWNLOAD), YES)
	SI_ENABLE_SYSTEM_SOFTWARE_UPDATE = YES
else
	SI_ENABLE_SYSTEM_SOFTWARE_UPDATE = NO 
endif


ifeq ($(SI_ENABLE_SYSTEM_SOFTWARE_UPDATE), YES)
	CFLAGS += -DSI_DVB_ENABLE_SSU
	#for agent compatible to stb ver
	CFLAGS += -DENABLE_SYSTEM_SOFTWARE_UPDATE

	CFLAGS += -DSI_SSU_WRITE_FILE

	INCLUDES    += -I agent/siagent2_dvr/ssu

	#verifier in box ver
	#ENABLE_SYSTEM_SOFTWARE_UPDATE_VERIFIER

endif

#customization flag(enable always)
#software DTV version's default channel sorting method (LCN based)
CFLAGS += -D_SI_CHANNEL_CMP_LCN

#don't show ch that has lcn 0
#current can only enable in Italy region(b'cos some countries don't have lcn...)
#CFLAGS += -D_SI_CHANNEL_HIDE_LCN0

ifeq ($(SUB_PROJECT), Libra_MS)
	CFLAGS += -D_SI_CHANNEL_CUSTOMIZE_LIBRA

endif


#module debug flag
ifneq ($(findstring APCFG_GS_GUIDEPLUS,$(APCFG_FLAGS)),)
	
	#must enable flag
	CFLAGS += -D_SI_EXPORT_SECTION_FILTER
		#enable visual impaired commentary audio type
	CFLAGS += -D_SI_GET_ALL_AUDIO_TYPE_
		#enable _USE_GEMSTAR_LIB_ flag to link with gemstar lib
	CFLAGS += -D_USE_GEMSTAR_LIB_

	#optional flag
	#CFLAGS += -D_SI_GP_DEBUG -D_IDX_TABLE_DEBUG_
	# for test gemstar api only, comment it when we don't need to test gem	
	#CFLAGS += -DGEMSTAR_AP_TEST
	
	INCLUDES	+= -I $(DTV_ROOT)/../../../Application/Projects/Include

endif

ifneq ($(findstring APCFG_USE_MHEG,$(APCFG_FLAGS)),)
	#must enable flag
    CFLAGS += -D_SI_EXPORT_SECTION_FILTER

	CFLAGS += -D_SUPPORT_CABOT_MHEG5_	

	#optional flag
	#CFLAGS += -D_SI_CABOT_DEBUG

    #INCLUDES    += -I $(DTV_ROOT)/../../../Application/Projects/Include

endif

	#CFLAGS += -D_DEBUG_SIAGENT_MEM_

	#CFLAGS += -D_SI_PROFILE_TIME_
	#CFLAGS += -D_SI_BEAN_GEN_DEBUG_ -DSI_COLLECTOR_DEBUG -D_OTHER_VSFM_DEBUG_
	#CFLAGS += -DSI_COLLECTOR_DEBUG    

	#CFLAGS += -DSI_DEBUG_TRACE_FUNCTIONCALL
    #CFLAGS += -D_SI_CHECK_TS_NODE  
	#CFLAGS += -D_SI_CHECK_VC_NODE -D_SI_CHECK_LCN
	#CFLAGS += -D_SI_TP_DEBUG_

	#CFLAGS += -D_SI_DEBUG_EPG_

    #check siAgent life scope
    #CFLAGS += -D_SI_DEBUG_AGENT_LIFE

	#CFLAGS += -D_SI_DEBUG_RATING_

	#CFLAGS += -D_SI_VP_CHECK_

	#CFLAGS += -D_SI_STATE_DATA_
	
	#debug only for italy
	#CFLAGS += -D_SI_USE_COUNTRY_LCN

