#For Realtek init mount
allow init self:capability sys_module;
allow init dev_type:blk_file { create read} ;
#allow init unlabeled:file execute_no_trans;
#allow init realtek_exec:file entrypoint;
#allow init init:file { execute execute_no_trans }; # Android N marked 
# For Dvdplayer avc: denied { create } for pid=2203 comm="DvdPlayer" scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=tcp_socket
# avc: denied { listen } for pid=2206 comm="DvdPlayer" lport=7171 scontext=u:r:init:s0 tcontext=u:r:init:s0 tclass=tcp_socket
allow init init:tcp_socket { create_socket_perms listen accept} ;
#allow init recovery:file { execute execute_no_trans}; # Android N marked
allow init recovery:process { transition rlimitinh siginh noatsecure };
#allow init system_server_service:service_manager add; # Android N marked

allow init block_device:blk_file write;
allow init kernel:system { module_request syslog_read };
#allow init realtek_exec:file execute_no_trans;
#allow init rootfs:file { create execute_no_trans };
allow init socket_device:sock_file { create setattr };
allow init storage_file:dir mounton;
#allow init system_file:file execute_no_trans;
allow init tmpfs:chr_file relabelfrom;
allow init tmpfs:lnk_file create;
allow init uio_device:chr_file write;
allow init user_device:chr_file relabelto;
allow init cache_file:dir mounton;
allow init user_device:blk_file write;
#allow init shell_exec:file execute_no_trans;
allow init configfs:file write;
allow init configfs:lnk_file { create unlink };
allow init user_device:dir mounton;
allow init system_file:system module_load;

#mkdir & mount tmpfs on /tmp
allow user_device rootfs:filesystem associate;
